.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 303px;
    margin: 0 auto;
}

.container >a{
    font-family: "Lexend Deca", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #52b6ff;
    text-decoration-line: underline;
    text-align: center;
}

.trackit-logo{
    margin-top: 68px;
    margin-bottom: 33px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login > input{
    height: 45px;
    font-weight: 400;
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    margin-bottom: 6px;
}

.botao{
    height: 45px;
    background-color: #52b6ff;
    font-size: 21px;
    font-weight: 400;
    font-family: "Lexend Deca", sans-serif;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px;
}

.body{
    width: 304px;
    height: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
}

.adiciona-habitos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adiciona-habitos > button{
    box-sizing: border-box;
    background-color: #52b6ff;
    width: 40px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 27px;
    font-weight: 400;
    font-family: "Lexend Deca", sans-serif;
}

.adiciona-habitos > h1{
    font-family: "Lexend Deca", sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #126ba5;
}

.top-barr{
    width: 100%;
    height: 70px;
    background-color: #126ba5;
    margin: 0 auto;
}

.fotos{
    width: 304px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}

.conteudo{
    width: 304px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.conteudo > p{
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #52b6ff;
    text-align: center;
}